/* Required for browsers w/o shadow DOM support */
iframe[src*="buttons.github.io"] {
    margin: 0;
}

.markdown-section strong code {
    font-weight: normal;
}


/* Custom Styles */
/* ========================================================================== */

.banner {
  width: 200%;
  max-height: 40vw;
  min-height: 20vh;
  object-fit: cover;
  position: static;
  padding: 0px;
  margin: -1em 0px 0px -14em;
  opacity: 0.9;
}

@media only screen and (min-width: 1200px) {
  .banner {
    width: 250%;
    max-height: 30vw;
    min-height: 20vh;
  }
}

@media only screen and (max-width: 850px) {
  .banner {
    min-height: 20vh;
    object-fit: cover;
    position: static;
    padding: 0px;
    margin: -1em 0px 0px -9.5em;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    margin: -1em 0px 0px -4.5em;
  }
}

.btngrey {
  width:20%;
  min-width: 120px;
  border-radius:20px;
  border-width:0px;
  background:#e9e9e9;
  font-family: Nunito;
  cursor: pointer;
}

/* Icon Only */
.docsify-tabs__tab[data-tab="icon only"] {
    letter-spacing: -100vw;
    color: transparent;
}
.docsify-tabs__tab[data-tab="icon only"]:before {
    content: url(https://icongr.am/feather/image.svg?size=18&color=999999);
    vertical-align: middle;
}

/* Icon + Label */
[data-tab="icon + label"]:before {
    content: url(https://icongr.am/feather/image.svg?size=18&color=999999);
    height: 16px;
    margin-right: 0.5em;
    vertical-align: middle;
}

/* Active State */
.docsify-tabs__tab--active[data-tab="active state"] {
    box-shadow: none;
    background: #00EAB7;
    color: white;
}
.docsify-tabs__content[data-tab-content="active state"] {
    background-image: linear-gradient(0deg, #80d0c7 0%, #00EAB7 100%);
}
.docsify-tabs__content[data-tab-content="active state"] p strong {
    color: white;
}

/* JSBin */
[data-tab-content="jsbin"] {
    padding: 0 !important;
}
[data-tab-content="jsbin"] > * {
    margin: 0 !important;
}
[data-tab-content="jsbin"] iframe {
    display: block;
    min-height: 350px;
    margin: 0;
    border: 0 !important;
}

/* Badge */
[data-tab="badge"]:after {
    content: 'New!';
    position: absolute;
    top: 0;
    right: 0;
    min-height: 1em;
    min-width: 1em;
    padding: 0.325em 0.5em 0.3em 0.5em;
    border-radius: 3px;
    background: red;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    transform: translate(35%, -45%);
}

summary:focus {
  outline: none;
}

.rounded-img {
  border-radius:6px;
  box-shadow: 0px 0px 2px 1px #dddddd;
  margin: auto;
  min-width: 40px;
}
.flat-img {
  border-radius:6px;
}
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
  display: inline-table;
}
.markdown-section table {
    display: inline-table;
}
.advanced {
  background:#fff;
  padding:10px;
  border-radius: 6px;
  outline:none;
}

.markdown-section h3 {
  font-weight: 100;
}

.content {
  background: #f0f0f0;
}

.sidebar {
  background: #ededed;
}

input {
  font-family: Nunito;
}

.search input:focus {
  box-shadow:none;
  background: #09defe;
}

div.footer {
    background-color:#ececec;
}

h2 {
  font-weight: 500;
  font-size: 24px!important;
  spacing: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
  spacing: 20px;
  justify-content: center;
}

.grid-item {
  padding: 1rem;
  margin: 0px;
  font-size: 30px;
  text-align: left;
  display: flex-inline;
}

h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
